body {
  font-family: "Montserrat";
  padding: 0;
  margin: 0;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-family: "Montserrat";
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 800;
}

h3 {
  font-family: "Montserrat";
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

/* navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 1.8rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.row-section {
  width: 80%;
  margin-top: 2rem;
}

.title-image {
  width: 80%;
  padding: 0;
}

.carousel-container {
  background-color: #FF4C68;
  padding: 5rem;
}

/* Features Section */
#features {
  padding: 7% 15%;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #FF4C68
}

#divider {
  font-family: "Ubuntu";
  color: #fff;
  background-color: #FF4C68;
}

#how-it-works {
  margin-top: 3rem;
}

/* videos */
#subscribe-img {
  width: 10rem;
  height: 10rem;
  padding-bottom: 0;
  margin-bottom: 0;
}

.divider {
  color: #fff;
  font-family: "Ubuntu";
  font-size: 200%;
  font-weight: bold;
  text-align: center;
}

.badge {
  margin: 2.5rem 0 1rem 2.5rem;
}

.btn {
  margin: 1rem;
}

#search {
  font-family: "Ubuntu";
  color: #FF4C68;
  padding: 4rem 0 4rem 2rem;
}

.pb-video-container {
  background: #fff;
  margin: 0;
  padding: 0rem 2rem;
}

.pb-video {
  border: 1px solid #fff;
  padding: 5px;
}

.pb-video:hover {
  background: #fff;
}

.pb-video-frame {
  transition: width 1s, height 1s;
}

.pb-video-frame:hover {
  height: 300px;
}

.pb-row {
  margin: 0;
}

/* Social Media */
.site-footer {
  background-color: #FF4C68;
  text-align: center;
  margin: 0px 0;
  padding: 0px 0;
}

#social-wrapper {
  text-align: center;
}

/*Social Media Icons*/
.social-wrapper {
  text-align: center;
  padding: 2rem;
}

.social-wrapper ul li {
  display: inline;
  margin-right: 2rem;
}

.twitter-icon,
.facebook-icon,
.instagram-icon,
.linkedin-icon,
.youtube-icon {
  margin-top: .625em;
  width: 40px;
  height: 40px;
  opacity: .8;
  filter: alpha(opacity=60);
  border-radius: 25px;
}

.twitter-icon:hover,
.facebook-icon:hover,
.instagram-icon:hover,
.linkedin-icon:hover,
.youtube-icon:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

.footer-nav p {
  text-align: center;
  color: #fff;
}
